mixin outputProgressBarRow(cartridge, backgroundColor)
  - tonerBarClass = "";
  - tonerBarBackgroundClass = "";
  - percentFull = 0;
  - nativeValue = "unknown";
  - if (cartridge.color === "Black") {
  -   tonerBarClass = "black-toner-status";
  -   tonerBarBackgroundClass = "";
  -   tonerBarBackgroundClass = "black-bar-background";
  - }
  - else if (cartridge.color === "Magenta") {
  -   tonerBarClass = "magenta-toner-status";
  -   tonerBarBackgroundClass = "magenta-bar-background";
  - }
  - else if (cartridge.color === "Yellow") {
  -   tonerBarClass = "yellow-toner-status";
  -   tonerBarBackgroundClass = "yellow-bar-background";
  - }
  - else if (cartridge.color === "Cyan") {
  -   tonerBarClass = "cyan-toner-status";
  -   tonerBarBackgroundClass = "cyan-bar-background";
  - }
  - else {
  -   tonerBarClass = unknown-toner-status;
  - }
  tr(class="#{backgroundColor}")
    td
      h6.native-value #{cartridge.nativeValue}
    td.cartridge-progress-bar-column
      div(class="progress toner-status #{tonerBarBackgroundClass}")
        div(class="progress-bar #{tonerBarClass}", role="progressbar", aria-valuenow="#{cartridge.percentFull}", aria-valuemin="0", aria-valuemax="100", style="width:#{cartridge.percentFull}%") #{cartridge.percentFull}%


mixin notused
    td
        h6.native-value #{cartridge.nativeValue}
      a(class="btn btn-primary btn-xs #{tonerBarClass}") #{cartridge.nativeValue}


mixin outputTonerCartridgeTable(tonerStatus, backgroundColor)
  each cartridge in tonerStatus
    +outputProgressBarRow(cartridge, backgroundColor)
  
mixin outputTonerStatusUnknown(parsingStatus, backgroundColor)
  tr(class="#{backgroundColor}")
    td
      h6.native-value.statusUnknownMessage #{parsingStatus}
  

mixin outputTonerReportRow(tonerStatus, grayBackground)
  - var tonerRowClass = "";
  - if (grayBackground) {
      - tonerRowClass = "light-gray-background";
  - }
  - if (tonerStatus.lowestTonerLevel <= 5) {
  -    tonerRowClass = "danger";
  - }
  - else if (tonerStatus.lowestTonerLevel <= 25) {
  -    tonerRowClass = "warning";
  - }
  tr(class="toner-status-row #{tonerRowClass}")
    td #{tonerStatus.room}
    td #{tonerStatus.MACaddress}
    td
      a(href="http://#{tonerStatus.IPaddress}" target="_blank") #{tonerStatus.IPaddress}
    td #{tonerStatus.printerModel}
    td #{tonerStatus.statusDate}
    td.toner-table-status-column
      table.table.table-hover.toner-table
        - if (tonerStatus.tonerStatus) {
          +outputTonerCartridgeTable(tonerStatus.tonerStatus, tonerRowClass)
        - }
        - else {
          +outputTonerStatusUnknown(tonerStatus.parsingStatus, tonerRowClass)
        -} 

mixin outputCriticalCartridgesReportRow(tonerStatus, grayBackground)
  - var tonerRowClass = "";
  - if (grayBackground) {
      - tonerRowClass = "light-gray-background";
  - }
  tr(class="toner-status-row #{tonerRowClass}")
    td #{tonerStatus.room}
    td #{tonerStatus.MACaddress}
    td
      a(href="http://#{tonerStatus.IPaddress}" target="_blank") #{tonerStatus.IPaddress}
    td #{tonerStatus.printerModel}
    td #{tonerStatus.statusDate}
    td.toner-table-status-column
      table.table.table-hover.toner-table
        - if (tonerStatus.tonerStatus) {
          +outputTonerCartridgeTable(tonerStatus.tonerStatus, tonerRowClass)
        - }
        - else {
          +outputTonerStatusUnknown(tonerStatus.parsingStatus, tonerRowClass)
        -} 


mixin outputByTypeRow(tonerStatus, grayBackground)
  - var backgroundClass = "";
  - if (grayBackground) {
      - backgroundClass = "light-gray-background";
  - }
  tr(class="toner-status-row #{backgroundClass}")
    td #{tonerStatus.room}
    td #{tonerStatus.MACaddress}
    td
      a(href="http://#{tonerStatus.IPaddress}" target="_blank") #{tonerStatus.IPaddress}
    td #{tonerStatus.printerModel}
    td #{tonerStatus.statusDate}
    td.toner-table-status-column
      table.table.table-hover.toner-table
        - if (tonerStatus.tonerStatus) {
          +outputTonerCartridgeTable(tonerStatus.tonerStatus, backgroundClass)
        - }
        - else {
          +outputTonerStatusUnknown(tonerStatus.parsingStatus, tonerRowClass)
        -} 


mixin tonerReport(tonerStatuses)
    .row
     .col-md-12
      table.table.table-hover
        thead
          tr
            th Room
            th MAC Address
            th IP Address
            th Printer Model
            th Date
            th Status
        tbody
          each tonerStatus in tonerStatuses
            - grayBackground = ! grayBackground;
            +outputTonerReportRow(tonerStatus, grayBackground)


mixin criticalCartridgesReport(tonerStatuses)
    .row
     .col-md-12
      table.table.table-hover
        thead
          tr
            th Room
            th MAC Address
            th IP Address
            th Printer Model
            th Date
            th Status
        tbody
          - var grayBackground = true;
          each tonerStatus in tonerStatuses
            - grayBackground = ! grayBackground;
            +outputCriticalCartridgesReportRow(tonerStatus, grayBackground)


mixin byTypeReport(tonerStatuses)
    .row
     .col-md-12
      table.table.table-hover
        thead
          tr
            th Room
            th MAC Address
            th IP Address
            th Printer Model
            th Date
            th Status
        tbody
          - var currentType = "";
          - var currentColor = "";
          - var grayBackground = true;
          each tonerStatus in tonerStatuses
            - if (currentType !== tonerStatus.printerModel  ||  currentColor !== tonerStatus.tonerStatus[0].color) {
            -   grayBackground = ! grayBackground;
            tr
              td(colspan="6")
                h3.text-center #{tonerStatus.printerModel} #{tonerStatus.tonerStatus[0].color}
            - }
            - currentType = tonerStatus.printerModel;
            - currentColor = tonerStatus.tonerStatus[0].color;
            +outputByTypeRow(tonerStatus, grayBackground)

